<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head>
  <title>Eshu turns 30</title>
  <meta name="description" content="free website template" />
  <meta name="keywords" content="enter your keywords here" />
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=9" />
  <link rel="stylesheet" type="text/css" href="css/style.css" />
  <link href="css/portfolio.css" rel="stylesheet" type="text/css" />
  <link href="css/dark.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <div id="main">
    <div id="header">
      <div id="welcome">
      <h1><span>YOUR B'DAY WISHES</span></h1>
	  </div><!--end welcome-->
      <div id="menubar">
        <ul id="menu">
          <li><a href="/">Home</a></li>
          <li><a href="/About">About</a></li>
          <li class="current"><a href="/Testimonials">Testimonials</a></li>
        </ul>
      </div><!--end menubar-->
    </div><!--end header-->
	
	<div id="site_content">	

	  <div id="text_content"> 

    <form method="post" action="/addTesti">  
    <h3 style="font-style: italic; color:#FFFF66;">Your Name :</h3>
    <p><input class="contact" type="text" name="username"/></p>
	  <h3 style="font-style: italic; color:#FFFF66;">How long have you known each Other ?</h3>
		<p><input class="contact" type="text" name="known_time"/></p>
		<h3 style="font-style: italic; color:#FFFF66;">Your most memorable time together ?</h3>
		<p><textarea class="contact textarea" rows="6" cols="30" name="memorable_time"></textarea></p>
    <h3 style="font-style: italic; color:#FFFF66;">One word that defines Eshwar ?</h3>
    <p><input class="contact" type="text" name="One_word"/></p>
    <h3 style="font-style: italic; color:#FFFF66;">Your first impression on him ?</h3>
    <p><textarea class="contact textarea" rows="6" cols="30" name="first_impression"></textarea></p>
    <h3 style="font-style: italic; color:#FFFF66;">Birthday Message :</h3>
    <p><textarea class="contact textarea" rows="6" cols="30" name="bday_message"></textarea></p>
    <h3 style="font-style: italic; color:#FFFF66;">Other çomments :</h3>
    <p><textarea class="contact textarea" rows="4" cols="30" name="other_comments"></textarea></p>
		<p><input style="color:#FFF; background-color:#900; border-radius: 4px; font-size: 100%;"class="submit" type="submit" name="submit" value="Save" /></p>
   </form>

	  </div><!--close text_content-->

      <div class="static_image">
	    <img width="200" height="200" src="images/contact" alt="contact" />
	  </div> 	

    </div><!--end site_content--> 
  </div><!--end main-->

  <div id="footer">
    <div id="footer_container">
    <div class="footer_container_box">
      <h4 style="color:#66FFFF;">B'day Party</h4>
      <p>Celebration begins on May 22nd at Yellowstone Park</p>
      <a style="font-style:italic; color:#E0FFFF;" href="ourwork.html">Read more</a>
    </div><!--close footer_container_box-->
      <div class="footer_container_box">
       <h4 style="color:#66FFFF;">Latest Testimonials</h4>
      <p> Your loved ones wish you from all over the world</p>
      <a style="font-style:italic; color:#E0FFFF;" href="Testimonials.html">Read more</a>
    </div><!--close footer_container_box-->
      <div class="footer_container_boxl">
    <h4 style="color:#66FFFF;">Watch how your grew so old!</h4>
      <p> 30 but still awesome! Rewind through your memories.</p>
      <a style="font-style:italic; color:#E0FFFF;" href="Home.html">Read more</a>  
    </div><!--close footer_container_box1-->      
    <br style="clear:both"/>
    <br />
    <a href=""></a> Eshu's Birthday Website By <a href="https://www.facebook.com/apurva.hp">Apurva HP</a>
    </div><!--close footer_container--> 
  </div><!--close footer--> 
  
</body>
</html>
